/GuitarTuner/GuitarTuner.xcodeproj/project.xcworkspace
/GuitarTuner/GuitarTuner.xcodeproj/xcuserdata/Oleygen.xcuserdatad/xcschemes/xcschememanagement.plist
/GuitarTuner/GuitarTuner.xcodeproj/xcuserdata
